<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Search Results</title>
    <script>
        function showAll() {
            console.log('Clicked!');
            var x = document.getElementById("fullItems");
            var y = document.getElemtnById("goodItems");
            if (x.style.display === "none") {
            x.style.display = "block";
            y.style.display = "none";
            } else {
            x.style.display = "none";
            y.style.display = "block";
            }
        } 
    </script>
</head>
<body>
    <form action="/" method="POST">
        <input type="submit" value="See All" id="calc_btn" />
    </form>
    <div class="container" id="menuItems">
        {% for menu_item in menu_items %}
        <div class="meal-row">
            <h2>{{menu_item[0]}}</h2>
        </div>
        {% endfor %}
    </div> 

</body>
</html>